<h4>Ziskani vsech kontaktu</h4>
{control allContacts}

<h4>Ziskani kontaktu podle tel.cisla</h4>
{control getByNumber}

<h4>Ziskani kontaktu podle prijmeni</h4>
{control getPerson}

<h4>Pridani noveho kontaktu</h4>
{control newPerson}

<h4>Uprava kontaktu</h4>
{control updatePerson}